
/* Contenedor principal */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Main container for styling the table and search area */
.content-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Title styling for the table */
  .table-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #3f51b5;
    margin-bottom: 20px;
  }
  
  /* Search bar container */
  .filter-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  
  /* Styles for table wrapper */
  .table-wrapper {
    overflow-x: auto;
    margin-top: 15px;
  }
  
  /* Styling table elements */
  .custom-table th.mat-header-cell {
    background-color: #3f51b5;
    color: white;
    font-weight: bold;
    text-align: left;
  }
  
  .custom-table td.mat-cell {
    padding: 10px;
    color: #333;
  }
  
  /* Alternate row colors */
  .custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Table shadow and rounding */
  .mat-elevation-z8 {
    border-radius: 8px;
  }
  
  /* Pagination styling */
  mat-paginator {
    margin-top: 10px;
  }
  
  /* Form field adjustments for search */
  mat-form-field {
    width: 100%;
    max-width: 300px;
  }
  .export-pdf-button {
    background-color: #d32f2f; /* Rojo */
    color: white; /* Texto blanco */
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre el ícono y el texto */
  }
  
  .export-pdf-button:hover {
    background-color: #b71c1c; /* Rojo más oscuro para el efecto hover */
  }
  
  .export-pdf-button mat-icon {
    font-size: 20px; /* Tamaño del ícono */
  }
  .export-excel-button {
    background-color: #4CAF50; /* Verde */
    color: white; /* Texto blanco */
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre el ícono y el texto */
    margin-right: 10px; /* Espacio a la derecha si está junto a otros botones */
  }
  
  .export-excel-button:hover {
    background-color: #388E3C; /* Verde más oscuro para el efecto hover */
  }
  
  .export-excel-button mat-icon {
    font-size: 20px; /* Tamaño del ícono */
  }
  