<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content-container">

      <div *ngIf="username">
        Bienvenido, {{ username }}!
      </div>

      <div class="container-title">
        <h4 class="card-title">Empresas registradas</h4>
        <div class="filter-container">
        </div>
        <div class="container-search">
            <input (keyup)="filter($event)" placeholder="Buscar" />
            <mat-icon class="icon-search">search</mat-icon>
          </div>
      </div>
      
        <div *ngIf="filteredDataSource.length === 0" class="no-data">
          <p>No hay empresas registradas con ese criterio. ¿Deseas registrar una?</p>
          <button class="btn-secundary" [routerLink]="['/empresa/registrar_empresa']">Registrar Empresa</button>
        </div>
      
        <div *ngIf="filteredDataSource.length > 0" class="card-container">
          <mat-card *ngFor="let empresa of filteredDataSource; let i = index" class="empresa-card">
            <mat-card-header>
              <img mat-card-avatar [src]="getAvatar(i)" alt="Company Logo">
              <mat-card-title>{{ empresa.nombre }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p><strong>Dirección:</strong> {{ empresa.direccion }}</p>
              <p><strong>RUC:</strong> {{ empresa.ruc }}</p>
              <p><strong>Tipo:</strong> {{ empresa.tipo }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="btn-primary" (click)="openDialog(empresa.idEmpresa)">Ver Información</button>
            </mat-card-actions>
          </mat-card>          
        </div>
    </div>  
</body>
</html>