
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="content-container">
    <h2 class="table-title">Listado de Bancos</h2>
    <div class="buscador">
        <mat-form-field>
            <input style="text-align: left" matInput (keyup)="filter($event)" placeholder="buscar" />
          </mat-form-field>
    </div>

    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 custom-table">
  
        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let banco"> {{ banco.nombre }} </td>
        </ng-container>
  

  
        <!-- Balance Column -->
        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
          <td mat-cell *matCellDef="let banco"> {{ banco.balance | currency:'USD' }} </td>
        </ng-container>
  
        <!-- Tasa Nominal Column -->
        <ng-container matColumnDef="tasaNomninal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tasa Nominal (%) </th>
          <td mat-cell *matCellDef="let banco"> {{ banco.tasaNomninal }} </td>
        </ng-container>
  
        <!-- Tasa Efectiva Column -->
        <ng-container matColumnDef="tasaEfectiva">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tasa Efectiva (%) </th>
          <td mat-cell *matCellDef="let banco"> {{ banco.tasaEfectiva }} </td>
        </ng-container>
  
        <!-- Comisión Extra Column -->
        <ng-container matColumnDef="cosionExtra">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Comisión Extra </th>
          <td mat-cell *matCellDef="let banco"> {{ banco.cosionExtra | currency:'USD' }} </td>
        </ng-container>
  
        <!-- Fecha de Creación Column -->
        <ng-container matColumnDef="creationDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Creación </th>
          <td mat-cell *matCellDef="let banco"> {{ banco.creationDate | date:'mediumDate' }} </td>
        </ng-container>
  
        <!-- Table Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <!-- Paginator -->
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</body>
</html>

  