/* styles.css */
/* Contenedor principal */
body {

  height: 100vh;
}
/* Contenedor principal */
.container {
  max-width: 800px;
  padding: 20px;
  background-color: #2E2E2E;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/* Columnas individuales del formulario */
.form-column{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Tres columnas iguales */
  gap: 20px;
}





/* Mensaje de error */
.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.actions{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  row-gap: 10px;
}


