/* Estilos generales para centrar el formulario */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    margin: 0;
    color: #333;
}

/* Contenedor del formulario */


/* Estilos de filas y columnas */
.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    min-width: 220px;
    
}
.container{
    padding-bottom: 90px;
    position: relative;
    padding-top: 50px;
    margin-bottom: 30px;
}
.column h4{
    color: var(--green)
}

.container .formulario{
    max-width: initial;
}

.btn-secundary[disabled]{
    cursor: not-allowed;
}



/* Estilos para la información seleccionada */
.info-row {
    display: flex;
    gap: 20px;
}

.report-card {
    flex: 1;
    padding: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fafafa;
    transition: box-shadow 0.3s ease;
}

.report-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.report-card h4 {
    margin-top: 0;
    font-weight: bold;
    color: #555;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.calculation-row .column {
    position: relative !important; 
    padding-bottom: 90px;
}
/* Estilos para las secciones de cálculo */
.calculation-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.calculation-row p , .calculation-row strong , .calculation-row span{ 
    color: #fff !important;
}

h3 {
    margin-top: 0;
    font-size: 18px;
    color: #444;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 12px;
}

.calculation-result button {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.column input{
    display: inline-block;
    width: auto;
    margin-right: 8px;
}
.calculation-result span {
    display: block;
    margin-top: 8px;
}

.calculation-row button{
    position: absolute;
    bottom: 0;
}
/* Estilos para el botón de "Registrar Contrato" */
.register-button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    left: 50%;
    max-width: 300px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    transform: translateX(-50%);
}

