<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Empresa</title>
</head>
<body>
    <div class="content-container">
        <div class="formulario">
            <div class="titulo">
                <h5>Nueva Empresa</h5>
            </div>
            <form [formGroup]="form" class="empresa-form-container" (ngSubmit)="registrar()">
                <div class="form-row">
                    <div class="form-field">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" type="text" formControlName="nombre" />
                        <span class="error-message" *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
                          El nombre de la empresa es obligatorio.
                        </span>
                        <span class="error-message" *ngIf="form.get('nombre')?.hasError('pattern') && form.get('nombre')?.dirty">
                          El nombre de la empresa solo puede contener letras y espacios.
                        </span>
                    </div>
      
                    <div class="form-field">
                        <label for="tipo">Tipo de Empresa</label>
                        <select id="tipo" formControlName="Tipo">
                          <option *ngFor="let t of tipoempresa" [value]="t.value">{{ t.viewValue }}</option>
                        </select>
                        <span class="error-message" *ngIf="form.get('Tipo')?.hasError('required') && form.get('Tipo')?.touched">
                          El tipo de empresa es obligatorio.
                        </span>
                    </div>
                </div>
      
                <div class="form-row">
                    <div class="form-field">
                        <label for="ruc">RUC</label>
                        <input id="ruc" type="number" formControlName="Ruc" />
                        <span class="error-message" *ngIf="form.get('Ruc')?.invalid && form.get('Ruc')?.touched">
                          {{
                            form.get('Ruc')?.hasError('required')
                              ? 'El RUC es obligatorio'
                              : form.get('Ruc')?.hasError('RucNoValido')
                              ? 'El RUC no es válido'
                              : ''
                          }}
                        </span>
                    </div>
                    <div class="form-field">
                        <label for="usuario">Usuario</label>
                        <input id="usuario" type="text" formControlName="usuario" />
                        <span class="error-message" *ngIf="form.get('usuario')?.invalid && form.get('usuario')?.touched">
                            {{
                              form.get('usuario')?.hasError('required')
                                ? 'El usuario es obligatorio'
                                : form.get('usuario')?.hasError('usuarioNoValido')
                                ? 'El usuario no es válido'
                                : ''
                            }}
                        </span>
                    </div>
                </div>
      
                <div class="form-row">
                    <div class="form-field">
                        <label for="direccion">Dirección</label>
                        <input 
                          id="direccion" 
                          type="text" 
                          formControlName="Direccion" 
                        />
                        <span class="error-message" *ngIf="form.get('Direccion')?.hasError('required') && form.get('Direccion')?.touched">
                          La dirección es obligatoria.
                        </span>
                        <span class="error-message" *ngIf="form.get('Direccion')?.hasError('pattern') && form.get('Direccion')?.dirty">
                          La dirección solo puede contener letras y espacios.
                        </span>
                    </div>
                </div>
      
                <div class="button-container">
                    <button mat-raised-button  type="submit" class="btn-primary" [disabled]="form.invalid">
                        {{ edicion ? 'Actualizar' : 'Registrar' }}
                    </button>
                    <button mat-raised-button class="btn-cancel" routerLink="/empresa/listar_empresa">Cancelar</button>
                </div>
            </form>
        </div>  
    </div>
      
</body>

</html>
