

html, body {

    height: 100vh;
}
/* Contenedor principal del formulario */
.formulario {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Título del formulario */
  .titulo h1 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Contenedor del formulario */
  .empresa-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Fila del formulario */
  .form-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  /* Campo del formulario */
  .form-field {
    flex: 1;
    min-width: 200px;
  }
  
  .mat-form-field {
    width: 100%;
  }

  
  /* Contenedor de botones */
  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-direction: column;
  }
  

  