

<mat-sidenav-container class="sidenav-container" >
    <!-- Barra de navegación lateral con *ngIf="verificar()" -->
    <mat-sidenav mode="side" opened class="sidenav" *ngIf="verificar()">
      <div class="container-logo"></div>
  
      <mat-nav-list>
        <!-- Sección de Empresas -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>business</mat-icon> Empresas
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-list-item routerLink="/empresa/registrar_empresa" class="btn">Insertar Empresas</button>
          <button mat-list-item routerLink="/empresa/listar_empresa" class="btn">Listar Empresas</button>

        </mat-expansion-panel>
  
        <!-- Sección de Carteras -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>account_balance_wallet</mat-icon> Carteras
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-list-item routerLink="/cartera/registrar_cartera" class="btn">Registrar Cartera</button>
          <button mat-list-item routerLink="/cartera/listar_cartera_usuario" class="btn">Listar Carteras usuario</button>

        </mat-expansion-panel>

                <!-- Sección de Documentos -->
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon>description</mat-icon> Documentos
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <button mat-list-item routerLink="/documento/registrar_documento" class="btn">Registrar Documento</button>
                  <button mat-list-item routerLink="/documento/listar_documento" class="btn">Listar Documentos</button>
                </mat-expansion-panel>
  
        <!-- Sección de Bancos -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>account_balance</mat-icon> Bancos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-list-item routerLink="/banco/registrar_banco" class="btn">Registrar Banco</button>
          <button mat-list-item routerLink="/banco/listar_banco_usuario" class="btn">Listar Bancos</button>
        </mat-expansion-panel>
  
  
        <!-- Sección de Contratos -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>assignment</mat-icon> Contratos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-list-item routerLink="/contrato/registrar_contrato" class="btn">Registrar Contrato</button>
          <button mat-list-item routerLink="/contrato/listar_contrato" class="btn">Listar Contratos</button>
        </mat-expansion-panel>
  
        <!-- Sección de Cuenta -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>account_circle</mat-icon> Cuenta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-list-item routerLink="/login" (click)="cerrar()">
            <mat-icon>logout</mat-icon> Cerrar sesión
          </button>
          <button mat-list-item>
            <span>username:</span> <span class="role">{{ username }}</span> <!-- Mostrar el nombre de usuario -->
          </button>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Contenedor principal -->
    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  