<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Documento</title>
</head>
<body>
  <div class="content-container">
    <div class="form-container">
      <h5>{{ edicion ? 'Editar Documento' : 'Nuevo Documento' }}</h5>

      <form [formGroup]="form" (ngSubmit)="registrar()">
        <!-- Sección de la Cartera -->
        <div class="section">
          <h4 class="section-title">Información de la Cartera</h4>
          <div class="form-row">
            <mat-form-field appearance="outline" class="form-column">
              <mat-label>Cartera</mat-label>
              <mat-select formControlName="cartera">
                <mat-option *ngFor="let cartera of listaCarteras" [value]="cartera.idCartera">
                  {{ cartera.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
                                  <!-- RUC -->
                                  <mat-form-field appearance="outline" class="form-column">
                                    <mat-label>RUC</mat-label>
                                    <input matInput [value]="getRUC()" [disabled]="true" />
                                  </mat-form-field>

            <mat-form-field appearance="outline" class="form-column">
              <mat-label>Moneda</mat-label>
              <input matInput formControlName="currency" [disabled]="true" />
            </mat-form-field>
          </div>
        </div>

        <!-- Sección del Documento -->
        <div class="section" *ngIf="formularioActivo">
          <h3 class="section-title">Información del Documento</h3>
          <div class="form-row row-3">
            <div class="form-field">
              <label for="tipoDocumento">Tipo de Documento</label>
              <select id="tipoDocumento" formControlName="tipoDocumento" class="form-control">
                <option *ngFor="let tipo of tipoDocumentoOpciones" [value]="tipo.value">
                  {{ tipo.viewValue }}
                </option>
              </select>
              <span class="error-message" *ngIf="form.get('tipoDocumento')?.hasError('required') && form.get('tipoDocumento')?.touched">
                El tipo de documento es obligatorio.
              </span>
            </div>          

            <div class="form-field">
              <label for="valorDocumento">Valor del Documento</label>
              <input 
                id="valorDocumento" 
                type="number" 
                formControlName="valorDocumento" 
                placeholder="Ingrese el valor" 
                class="form-control"
              />
              <span class="error-message" *ngIf="form.get('valorDocumento')?.hasError('min') && form.get('valorDocumento')?.touched">
                El valor debe ser mayor a 0.
              </span>
            </div>
            
            <div class="form-field">
              <label for="fechaEmision">Fecha de Emisión</label>
              <input 
                id="fechaEmision" 
                type="date" 
                formControlName="fechaEmision" 
                class="form-control" 
              />
              <span class="error-message" *ngIf="form.get('fechaEmision')?.hasError('required') && form.get('fechaEmision')?.touched">
                La fecha de emisión es obligatoria.
              </span>
            </div>
            
            <div class="form-field">
              <label for="fechaVencimiento">Fecha de Vencimiento</label>
              <input 
                id="fechaVencimiento" 
                type="date" 
                formControlName="fechaVencimiento" 
                class="form-control" 
              />
              <span class="error-message" *ngIf="form.get('fechaVencimiento')?.hasError('required') && form.get('fechaVencimiento')?.touched">
                La fecha de vencimiento es obligatoria.
              </span>
            </div>
            
          </div>
        </div>

        <!-- Sección del Cliente -->
        <div class="section" *ngIf="formularioActivo">
          <h3 class="section-title">Información del Cliente</h3>
          <div class="form-row row-3">
            <div class="form-field">
              <label for="clienteNombre">Nombre del Cliente</label>
              <input 
                id="clienteNombre" 
                type="text" 
                formControlName="clienteNombre" 
                placeholder="Ingrese nombre del cliente" 
                class="form-control" 
              />
              <span class="error-message" *ngIf="form.get('clienteNombre')?.hasError('pattern') && form.get('clienteNombre')?.touched">
                Solo se permiten letras y espacios.
              </span>
            </div>
            

            <div class="form-field">
              <label for="clientePhone">Teléfono del Cliente</label>
              <input 
                id="clientePhone" 
                type="text" 
                formControlName="clientePhone" 
                placeholder="Ingrese teléfono" 
                class="form-control" 
              />
              <span class="error-message" *ngIf="form.get('clientePhone')?.hasError('pattern') && form.get('clientePhone')?.touched">
                Solo se permiten números.
              </span>
            </div>
            
        
          
          </div>
        </div>

        <!-- Botones de Acción -->
        <div class="button-container" *ngIf="formularioActivo">
          <button mat-raised-button class="btn-primary" type="submit"  [disabled]="form.invalid"  routerLink="/documento/listar_documento" (click)="registrar()">
            {{ edicion ? 'Actualizar' : 'Registrar' }}
          </button>
          <button mat-button class="btn-cancel" type="button" (click)="confirmCancel()">Cancelar</button>
        </div>
      </form>
    </div> 
  </div>
  
</body>
</html>
