/* Estilos generales para centrar el formulario */
body {

  height: 100vh;

}
/* styles.css */

/* Contenedor principal del formulario */
.form-container {
  max-width: 900px;
}

/* Sección del formulario */
.section {
  margin-bottom: 20px;
}

/* Título de la sección */
.section-title {
  margin-top: 0;
  font-size: 15px;
  font-weight: bold;
  color: var(--green);
}

/* Fila del formulario con diseño de tres columnas */
.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Columnas del formulario */
.form-column {
  flex: 1;
  min-width: 250px; /* Ancho mínimo para cada columna */
}

/* Botones de acción */
.button-container {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 10px;
  flex-direction: column;
  margin-top: 50px;
}


.row-3{
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}
.row-3 .form-field{
  min-width: 270px;
  flex: 1 1 270px;
}

.row-2{
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}
.row-2 .form-field{
  min-width: 270px;
  flex: 1 270px;
}
