/* Contenedor principal */
.container {
  max-width: 970px;
  margin: 0;
  height: 100vh;
}

.bancos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
}

.banco-card {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagen-por-defecto {
  max-width: 100%;
  height: 150px;
  object-fit: contain;
}

.banco-card mat-card-header, .banco-card mat-card-content, .banco-card .mat-mdc-card-subtitle{
  background-color: #3d3d3d !important;
  color: #fff;
  font-family: "Poppins", sans-serif;  
  font-size: 12px;
}

.banco-card mat-card-header{
  font-size: 16px !important;
  padding-top: 10px;
}

 .banco-card mat-card-content p, .banco-card .mat-mdc-card-subtitle{
  opacity: 0.7;
  margin: 5px 0;
}

.banco-card .mat-mdc-card-title{
  color: #fff;
}