
/* Contenedor principal */
body {
    height: 100vh;
  }
  
    
    .selected {
      background-color: #f1f1f1; /* Light gray background for the selected row */
    }
/* Estilos generales */

  
  /* Campo de búsqueda */
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .mat-form-field input {
    padding: 10px;
  }
  
  /* Tabla */
  table {
    width: 100%;
    border-collapse: collapse;
  }
 
  
  td.mat-cell, th.mat-header-cell {
    padding: 12px;
    text-align: left;
  }
  
  .mat-sort-header-container {
    align-items: center;
  }
  
  /* Estilos de los botones */
  .export-pdf-button, .export-excel-button {
    margin: 10px 5px;
    display: inline-flex;
    align-items: center;
  }
  
  .export-pdf-button mat-icon,
  .export-excel-button mat-icon {
    margin-right: 5px;
  }
  
  .export-pdf-button {
    background-color: #f44336;
    color: #ffffff;
  }
  
  .export-excel-button {
    background-color: #2196f3;
    color: #ffffff;
  }
  
  .export-pdf-button:hover {
    background-color: #d32f2f;
  }
  
  .export-excel-button:hover {
    background-color: #1976d2;
  }
  
 
  
  button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
  
.btn-primary{
  font-size: 11px !important;
}