
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="rol-container">
    <div class="navbar">
        <div class="container">
            <div class="logo"><a href="/#"><img src="/assets/Logo.png" alt=""></a></div>
            <div class="nav-links">
                <button  color="primary" [routerLink]="['/landing']">INICIO</button>
                <button  color="primary" [routerLink]="['/login']">LOGIN</button>
                <button  color="primary" [routerLink]="['/registrar']">SIGN IN</button>
            </div>
        </div>
      </div>
      <div class="container-form">
        <div class="register-role-container">
            <h4>Asignar Rol al Usuario</h4>
        
            <form [formGroup]="form" (ngSubmit)="register()" class="register-role-form">
                <div class="form-field">
                    <label for="seleccion">Seleccionar Rol</label>
                    <select id="seleccion" formControlName="seleccion" required>
                      <option *ngFor="let role of roles" [value]="role.value">
                        {{ role.viewValue }}
                      </option>
                    </select>
                    <span class="error-message" *ngIf="form.get('seleccion')?.hasError('required') && form.get('seleccion')?.touched">
                      Seleccione un rol.
                    </span>
                </div>                  
        
                <div class="button-group">
                    <button class="btn-primary" type="submit" [disabled]="form.invalid">Guardar Rol</button>
                    <button class="btn-secundary" type="button" routerLink="/usuarios">Cancelar</button>
                </div>
        
            </form>
        </div>
      </div>
      
</body>
</html>




