/* Estilos generales para centrar el formulario */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    margin: 0;
    color: #333;
}

/* Contenedor del formulario */

.rol-container::before{
    content: "";
    background-image: url(/assets/Register.png);
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;    
    background-size: cover;
    z-index: 1;
}



.navbar .nav-links {
    display: flex;
    gap: 15px;
}

.container-form {
    position: relative;
    z-index: 10;
    background-color: var(--gray);
    padding: 60px 30px;
    border-radius: 30px;
    max-width: 380px;
    margin: auto;
    margin-top: 130px;
    width: 100%;
}

/* Register Role Container */

.register-role-container h4 {
    color: var(--green);
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 40px;
}

.register-role-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.form-field{
    width: 100%;
}

.button-group {
    display: flex;
    gap: 10px;
    width: 100%;
}

.btn-primary, .btn-secundary{
    width: 50%;
    border: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        padding: 10px;
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
    }

    .register-role-container {
        width: 90%;
    }
}
