<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Cartera</title>
</head>
<body>
  <div class="content-container">
    <div class="form-container">
      <h5>{{ edicion ? 'Editar Cartera' : 'Nueva Cartera' }}</h5>
    
      <form [formGroup]="form" class="cartera-form-container" (ngSubmit)="registrar()">
        <div class="form-row">
          
        <!-- Nombre -->
          <div class="form-column">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" formControlName="nombre"/>
            <span class="error-message" *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
              El nombre de la cartera es obligatorio.
            </span>
          </div>

        <!-- Fecha de Descuento -->
          <div class="form-column">
            <label for="fechaDescuento">Fecha de Descuento</label>
            <input id="fechaDescuento" type="date" formControlName="fechaDescuento" />
          </div>

        </div>

        <div class="form-row">
          <!-- Empresa -->
          <div class="form-column">
            <label for="empresa">Empresa</label>
            <select id="empresa" formControlName="empresa">
              <option *ngFor="let empresa of listaEmpresas" [value]="empresa.idEmpresa">
                {{ empresa.nombre }}
              </option>
            </select>
            <span class="error-message" *ngIf="form.get('empresa')?.hasError('required') && form.get('empresa')?.touched">
              La empresa es obligatorio.
            </span>
          </div>

          <!-- Moneda -->
          <div class="form-column">
            <label for="moneda">Moneda</label>
            <select id="moneda" formControlName="moneda">
              <option *ngFor="let moneda of monedas" [value]="moneda.value">
                {{ moneda.viewValue }}
              </option>
            </select>
            <div class="error-message" *ngIf="obtenerControlCampo('moneda').hasError('required') && form.get('moneda')?.touched">
              La moneda es obligatoria.
            </div>
          </div>

        </div>

        <div class="button-container">
          <button mat-raised-button class="btn-primary" type="submit"  [disabled]="form.invalid"  routerLink="/cartera/listar_cartera_usuario" (click)="registrar()">
            {{ edicion ? 'Actualizar' : 'Registrar' }}
          </button>
          <button mat-button class="btn-cancel" type="button" routerLink="/cartera/listar_cartera_usuario">Cancelar</button>
        </div>
      </form>
    </div> 
  </div>
</body>
</html>
